@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.highlight-yellow {
  color: rgb(241, 241, 170);
  padding: 2px;
  border-radius: 3px;
}

.highlight-green {
  color: rgb(198, 245, 198);
  padding: 2px;
  border-radius: 3px;
}

.highlight-red {
  color: lightcoral;
  padding: 2px;
  border-radius: 3px;
}

.highlight-blue {
  color: lightblue;
  padding: 2px;
  border-radius: 3px;
}

.highlight-purple {
  color: lavender;
  padding: 2px;
  border-radius: 3px;
}

.highlight-orange {
  color: rgb(255, 229, 180);
  padding: 2px;
  border-radius: 3px;
}

.highlight-teal {
  color: lightseagreen;
  padding: 2px;
  border-radius: 3px;
}

/* Global or component-specific CSS */
.github-link-container {
  margin-top: 10px;
}

.github-link {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.github-link i {
  margin-right: 5px;
  font-size: 16px;
  color: #333;
}

.github-link:hover {
  background-color: #ddd;
  color: #000;
}




